@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --color-primary: #FF8400;
    --color-error: #FF0000;
}

html, body {
    height: 100%;           /* altura tem 100% */
    font-family: "Ubuntu", sans-serif;
}

#root {   /* deixando fixo no rodapé la em baixo */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {  /* rodapé */
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {  /*mudando uma cor do bootstrao */
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}